<div class="card">
  <div class="card-header edit-container-wrapper" id="{{ 'heading' + item.id }}">
    <h5 class="mb-0">
      <button
        class="btn btn-link"
        type="button"
        data-toggle="collapse"
        [attr.data-target]="'#collapse' + item.id"
      >
        {{ item.title }}
      </button>
    </h5>
    <div class="edit-container">
      <div class="icon">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </div>
     <div class="icon">
        <i class="fa fa-trash" aria-hidden="true"></i>
     </div>
    </div>
  </div>

  <div
    id="{{ 'collapse' + item.id }}"
    class="collapse show"
    data-parent="#accordionExample"
  >
    <div class="card-body">
      {{ item.description }}
    </div>
  </div>
</div>
