<div class="card">
  <div class="card-header" id="{{ 'heading' + item.id }}">
    <h5 class="mb-0">
      <button
        class="btn btn-link"
        type="button"
        data-toggle="collapse"
        [attr.data-target]="'#collapse' + item.id"
      >
        {{ item.title }}
      </button>
    </h5>
  </div>

  <div
    id="{{ 'collapse' + item.id }}"
    class="collapse show"
    data-parent="#accordionExample"
  >
    <div class="card-body">
      {{ item.description }}
    </div>
  </div>
</div>
